@media all and (min-width: 3800px) {
  .mui {
    width: 50px;
    height: 50px;
  }

  #buttonsBlock2 {top: 92px;}

  .chk+label {font-size: 24px;}
  .chk+label::before {
    margin: 0px 8px -4.2px 0;
    width: 25px;
    height: 25px;
  }
  #labelBar {padding: 16px;}
  #labelBar>div {margin-bottom: 8px;}
  .btnNavigator {width: 50px;height: 50px;  }
  .topMenu {font-size: 24px;}

  .complete, .progressing, .start, .standby {
    width: 48px;
    height: 48px;
    vertical-align: -18px;
  }
  #labelDiv {
    top: 80px;
    left: 391px;
    padding: 16px;
  }
  #labelDiv>ul>li {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.3;
  }
  #labelDiv>ul>li>span {
    width: 12px;
    height: 12px;
    vertical-align: 0px;
  }

  #popup-info {
    top: 85px;
    left: 742px;
    width: auto;
    max-width: 400px;
    min-width: 300px;
    height: auto;
    min-height: 462px;
    max-height:none;
  }
  h5.titleText {
    font-size: 20px;
    line-height: 1.3;
  }
  .infor {
    height: 22px;
    font-size: 16px;
    line-height: 1.3;
  }
  .Txt1 {width: 70%;}
  .Txt2 {width: 25%; text-align: right;}
  .textarea {
    height: 190px;
    line-height: 1.3;
  }

  .tabs label {padding: 4px 14.7px;}

  .tabTable th {font-size: 16px;}
  .tabTable td {font-size: 14px;}
}


/* 테블릿 가로형 */
@media all and (max-width: 1279px) {
  .mui {
      width: 2.5000vw;
      height: 2.5000vw;
  }

  #buttonsBlock2 {
      top: 5.6250vw;
  }

  .chk+label {
      font-size: 0.9375vw;
  }

  .chk+label::before {
      margin: 0 0.6250vw -0.2500vw 0;
      width: 1.2500vw;
      height: 1.2500vw;
      border-radius: 0.3906vw;
  }

  #labelBar {
      padding: 0.6250vw;
  }

  .btnNavigator {
      bottom: 1.8750vw;
      left: 1.8750vw;
      width: 1.8750vw;
      height: 1.8750vw;
  }

  .topMenu {
      font-size: 1.0938vw;
  }

  .complete,
  .progressing,
  .start,
  .standby {
      margin: 0 0 0 0.9375vw;
      width: 1.8750vw;
      height: 1.8750vw;
  }

  #labelDiv>ul>li {
      font-size: 1.0938vw;
  }

  #labelDiv>ul>li>span {
      margin: 0 0.6250vw 0 0;
      width: 0.6250vw;
      height: 0.6250vw;
      vertical-align: 0.0781vw;
  }

  .infotBox {
      bottom: 1.8750vw;
      padding: 1.2500vw;
      max-width: 39.0625vw;
      border-radius: 0.6250vw;
  }

  .infotBox .bar::before {
      margin: 0 0.7813vw 0 1.1719vw;
      width: 0.0781vw;
      height: 1.2500vw;
      vertical-align: -0.2344vw;
  }

  .infotBox div,
  .infotBox div span {
      font-size: 1.0938vw;
  }

  .layout-lnb .active.link-logo-sub:before {
      width: 1.9531vw;
      height: 1.9531vw;
  }
  #labelDiv {
    top: 63px;
    left: 450px;
    transform: translateX(-50%);
}
  #popup-info {
    top: 67px;
    left: 456px;
  }



}

/* 테블릿 세로형 */
@media all and (max-width: 1024px) {}

/* 패드미니 세로형 */
@media all and (min-width:481px) and (max-width: 768px) {}