/** @format */

.large_circle,
.small_circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    /* border: 1px solid rgb(253, 92, 205); */
    position: fixed;
    pointer-events: none;
    transition: transform 0.1s;
}

.small_circle {
    width: 16px;
    height: 16px;
    border: 1px solid rgb(90, 176, 247);
}